{
  "extends": "../src/.eslintrc",
  "env": {
    "mocha": true
  },
  "globals": {
    "sinon": false,
    "expect": false
  },
  "rules": {
    "max-nested-callbacks": [2, 5],
    "no-magic-numbers": 0
  }
}
