{
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-es5-property-mutators",
    "transform-class-properties"
  ],
  "presets": ["es2015", "react"]
}
